/* styling project box */
.project-box{
    flex: 0 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    width: 50%;
    height: 50px;
}

#highlighted-project{
    width:50%;
}

nav {
    flex-wrap: wrap;
    padding: 40px;
    background: wheat;
    color: #fff;
}

#project-two{
}

#project-three{
}

#project-four{
}

#project-five{
}

body{
    background-color:lavender;
}

li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
    font-size: 32px;
    color: lavender;
}