/* styling project box */
.project-box{
    height: 200px;
    width: 300px;
    background-color: whitesmoke;
    color:black;
    padding: 20px 20px;
    border: 10px solid wheat;
    margin: 20px
}

#highlighted-project{
    height: 400px;
    width: 675px;
}

#project-two{

}

#project-three{
    position: relative;
    left: 375px;
    bottom: 280px;
}

#project-four{
    position: relative;
    bottom: 280px;
}

#project-five{
    position: relative;
    left: 375px;
    bottom: 560px;
}

body{
    background-color:lavender;
}

li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
    font-size: 32px;
}